// Цвета
$c-white: #ffffff;
$c-black: #232323;
$c-blue: #4896D2;
$c-blue-dark: #21699F;
$c-blue-light: #DAEAF6;
$c-gray-light: #F9F9FA;
$c-gray: #898989;
$c-accent: #B432FF;

// Цвета состояния кнопок
$c-button-hover: #dc33b9;
$c-button-active: #7a1565;

// Тень
$s-base: 0px 20px 50px rgba(0, 0, 0, 0.1);

// Переходы
$t-base: 0.2s ease-in-out;

// Медиавыражения
$laptop: 1279px;
$tablet: 1023px;
$phablet: 740px;
$mobile: 479px;

// Ширина контента
$width-container: 1320px;