.header {
  width: 100%;
  margin-top: 44px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @include media-max($phablet) {
    margin-top: 20px;
  }

  .logo {
    @include media-max($tablet) {
      width: 174px;
      height: 55px;
    }

    @include media-max($phablet) {
      width: 86px;
      height: 27px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }
}